*{
    box-sizing: border-box;
    background-color: #CAEDEE;
}
h2{
    text-align: center;
    font-weight: 900;
    color: blue;
}
.gallery-img{
    display:none;
    max-height: 600px;
    border: 50px solid transparent;
    border-image:url(/image/border.png) 100 stretch;
}
.active{
    display: block;
}
.image-gallery{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.btns{
    /* margin-top:-52%;
    width:15%;
    float: right !important; */
    width:100%;
    margin-bottom: 15px;
    display: flex; 
    justify-content: right;
    align-items: center;
}
.btn{
    background-color: #0074d9;
    color:white;
    padding:5px 10px;
    font-size: 20px;
    border-color: transparent;
    border-radius: 5px;
    cursor:pointer;
    width: auto;
}
.prev{
    margin-right: 31px;
}
.btn:disabled{
    background-color: #777;
    cursor: not-allowed;
}